<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
<h3 class=" text-center">PyChat Play</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history" id="msg_history_id">
            <div  *ngFor="let msg of respMsgs">
              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="./emo.png" alt="sunil"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{msg.req_msg}}</p>
                    <!-- <span class="time_date">{{Date.now() | date:'medium'}}</span></div> -->
					<span class="time_date">{{msg.time_stamp}}</span></div>
                </div>
              </div>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{msg.res_msg}}</p>
                  <span class="time_date">{{msg.time_stamp}}</span> </div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <form #sendMsgForm="ngForm" (ngSubmit)="onSubmit(sendMsgForm.value)">
                <input type="text" name="reqMsg" class="write_msg" placeholder="Type a message" ngModel/>
                <input type="hidden" (keydown.enter)="onSubmit(sendMsgForm.value)" />
                <button class="msg_send_btn" type="submit">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--<p class="text-center top_spac"> Design by
        <a target="_blank" href="https://bootsnipp.com/snippets/1ea0N">https://bootsnipp.com/snippets/1ea0N</a></p> -->

    </div></div>
    </body>
    </html>

    <router-outlet></router-outlet>
